@model ChangePassword
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đổi mật khẩu</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">

</head>

<body>
<div class="app">
    <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="container d-flex h-100">
                <div class="row align-items-center w-100">
                    <div class="col-md-7 col-lg-5 m-h-auto">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <h6 class="text-center m-b-0" style="color: #b02a37"><b><i>Lưu ý: chức năng này không hỗ trợ khi đăng nhập bằng Google</i></b> </h6>
                                <h2 class="text-center m-b-0">Đổi mật khẩu: </h2>
                                <h6 class="text-center"> @User.Claims.FirstOrDefault(x => x.Type == "name")?.Value</h6>
                                <form asp-area="Identity" asp-controller="Auth" asp-action="ChangePassword" method="post">
                                    <input asp-for="ReturnUrl" type="hidden"/>

                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="OldPassword">Mật khẩu cũ:</label>
                                        <div class="input-affix">
                                            <i class="prefix-icon anticon anticon-lock"></i>
                                            <input asp-for="OldPassword" type="password" class="form-control" id="OldPassword" placeholder="OldPassword">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="OldPassword">Mật khẩu mới:</label>
                                        <div class="input-affix">
                                            <i class="prefix-icon anticon anticon-lock"></i>
                                            <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword" placeholder="NewPassword">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="password">Nhập lại mật khẩu mới:</label>
                                        <div class="input-affix m-b-10">
                                            <i class="prefix-icon anticon anticon-lock"></i>
                                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="ConfirmPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="center-tabs">
                                            <button class="row-cols-md-10 text-center btn btn-primary">Đổi mật khẩu</button>

                                            <button class="row-cols-md-10 text-center btn btn-primary"
                                                    asp-area="" asp-controller="Home" asp-action="IndexLayout"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="MenuManagement">
                                                <i class="anticon anticon-rollback"></i> Trở lại
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Core Vendors JS -->
<script src="~/assets/js/vendors.min.js"></script>

<!-- page js -->
<!-- Core JS -->
<script src="~/assets/js/app.min.js"></script>
@await Component.InvokeAsync("Notyf")

</body>

</html>