@{
    ViewData["Title"] = ViewContext.RouteData.Values["controller"];
    Layout = "~/Areas/Identity/Views/Shared/_Layouts.cshtml";
}



        @* <div class="page-header no-gutters has-tab"> *@
        @*     <div class="d-md-flex m-b-15 align-items-center justify-content-between"> *@
        @*         <div class="media align-items-center m-b-15"> *@
        @*             <div class="m-l-15"> *@
        @*                 <h4 class="m-b-0">@ViewContext.RouteData.Values["area"]</h4> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        @* <div class="container-fluid"> *@
        @*     <div class="tab-content m-t-15"> *@
        @*         <div class="tab-pane fade show active" id="product-overview"> *@
        @*             <div class="row"> *@
        @* *@
        @*                 <div class="col-md-3"> *@
        @*                     <div class="card"> *@
        @*                         <div class="card-body"> *@
        @*                             <div class="media align-items-center"> *@
        @*                                 <i class="font-size-40 text-success anticon anticon-usergroup-add"></i> *@
        @*                                 <div class="m-l-15"> *@
        @*                                     <a asp-action="RegisterRole" asp-controller=@ViewContext.RouteData.Values["controller"] asp-area=@ViewContext.RouteData.Values["area"]> *@
        @*                                         <p class="m-b-0 text-muted">Thêm quyền mới</p> *@
        @*                                     </a> *@
        @*                                 </div> *@
        @* *@
        @*                             </div> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                 </div> *@
        @* *@
        @*                 <div class="col-md-3"> *@
        @*                     <div class="card"> *@
        @*                         <div class="card-body"> *@
        @*                             <div class="media align-items-center"> *@
        @* *@
        @*                                 <i class="font-size-40 text-warning anticon anticon-tool"></i> *@
        @*                                 <div class="m-l-15"> *@
        @*                                     <a asp-action="RegisterUserRole" asp-controller=@ViewContext.RouteData.Values["controller"] asp-area=@ViewContext.RouteData.Values["area"]> *@
        @*                                         <p class="m-b-0 text-muted">Thêm quyền cho User</p> *@
        @*                                     </a> *@
        @*                                 </div> *@
        @* *@
        @*                             </div> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                 </div> *@
        @*                  *@
        @* *@
        @* *@
        @*                 <div class="col-md-2"> *@
        @*                     <div class="card"> *@
        @*                         <div class="card-body"> *@
        @*                             <div class="media align-items-center"> *@
        @* *@
        @*                                 <i class="font-size-40 text-secondary anticon anticon-undo"></i> *@
        @*                                 <div class="m-l-15"> *@
        @*                                     <a asp-action="Index" asp-controller="Home" asp-area=""> *@
        @*                                         <p class="m-b-0 text-muted">Trở lại</p> *@
        @*                                     </a> *@
        @*                                 </div> *@
        @* *@
        @*                             </div> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                 </div> *@
        @* *@
        @*             </div> *@
        @*         </div> *@
        @* *@
        @*     </div> *@
        @* </div> *@
