@model ResetUserPasswordViewModel

@{
    ViewData["Title"] = "Cấp lại mật khẩu";
    Layout = "~/Areas/Identity/Views/Shared/_Layouts.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cấp lại mật khẩu</h4>

        <form asp-area="Identity" asp-controller="Auth" asp-action="ResetUserPassword" method="post">
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="UserId" class="control-label">UserID</label>
                <input asp-for="UserId" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="DisplayNewPassword" class="control-label">Mật khẩu mới</label>
                <input asp-for="DisplayNewPassword" class="form-control" readonly />
            </div>

            <!-- Hiển thị mật khẩu mới -->
            <div class="form-group">
                <label class="control-label">Xác nhận mật khẩu mới</label>
                <div>
                    @Model.DisplayNewPassword
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning">
                    <i class="anticon anticon-refresh"></i> Cấp lại mật khẩu
                </button>
            </div>
        </form>
    </div>
</div>