
<!-- Footer START -->
<footer class="footer">
    <div class="footer-content">
        <p class="m-b-0">Phạm Lưu Thắng Đạt B1906451</p>
        <span>
            <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
            <a href="" class="text-gray">Privacy &amp; Policy</a>
        </span>
    </div>
</footer>
<!-- Footer END -->